@import '../../styles/variables.scss';

.popup {
  position: absolute;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  box-sizing: border-box;
  max-height: 300px;
  max-width: 750px;
  width: 100%;
  background: $light-background;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  background: $light-background;
}

.blur {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.25);
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  svg {
    transition: 0.3s;
  }
  &:hover {
    svg {
      transform: rotate(360deg);
    }
  }
}

.items {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.day {
  .temp {
    font-weight: 500;
    font-size: 60px;
    color: $primary-color;
    margin: 0 0 12px;
  }
  .name {
    font-size: 25px;
    line-height: 30px;
    color: #000000;
    margin: 0 0 12px;
  }
  .img {
    svg {
      width: 53px;
      height: 53px;
    }
    margin-bottom: 12px;
  }

  .time,
  .city {
    font-size: 15px;
    color: $base-color;
    margin: 0 0 6px;
  }
}


